### **Conexão com o Banco de Dados Parte 01 de 02**

*Nota: Para os exemplos com `mysql.connector`, você precisará ter o driver instalado (`pip install mysql-connector-python`).*

#### **1. Conectar ao Banco de Dados MySQL**

In [ ]:
import mysql.connector

# ATENÇÃO: Substitua com suas credenciais reais
conexao = mysql.connector.connect(
    host="localhost",
    user="seu_usuario",
    password="sua_senha",
    database="seu_banco_de_dados"
)

# Verificar se a conexão foi bem sucedida
if conexao.is_connected():
    print("Conexão bem sucedida ao banco de dados MySQL.")
    conexao.close()
else:
    print("Falha ao conectar ao banco de dados MySQL.")

-----

#### **2. Inserir Dados em uma Tabela**

In [ ]:
import mysql.connector

# ATENÇÃO: Substitua com suas credenciais reais
conexao = mysql.connector.connect(
    host="localhost",
    user="seu_usuario",
    password="sua_senha",
    database="seu_banco_de_dados"
)

cursor = conexao.cursor()

# Inserir dados em uma tabela
# Certifique-se de que 'tabela' com 'coluna1' e 'coluna2' exista
sql = "INSERT INTO tabela (coluna1, coluna2) VALUES (%s, %s)"
valores = ("valor1", "valor2")

cursor.execute(sql, valores)
conexao.commit()

print(cursor.rowcount, "registro(s) inserido(s).")

cursor.close()
conexao.close()

-----

#### **3. Consultar Dados de uma Tabela**

In [ ]:
import mysql.connector

# ATENÇÃO: Substitua com suas credenciais reais
conexao = mysql.connector.connect(
    host="localhost",
    user="seu_usuario",
    password="sua_senha",
    database="seu_banco_de_dados"
)

cursor = conexao.cursor()

# Consultar dados de uma tabela
sql = "SELECT * FROM tabela"

cursor.execute(sql)
resultados = cursor.fetchall()

for resultado in resultados:
    print(resultado)

cursor.close()
conexao.close()

-----

#### **4. Atualizar Dados em uma Tabela**

In [ ]:
import mysql.connector

# ATENÇÃO: Substitua com suas credenciais reais
conexao = mysql.connector.connect(
    host="localhost",
    user="seu_usuario",
    password="sua_senha",
    database="seu_banco_de_dados"
)

cursor = conexao.cursor()

# Atualizar dados em uma tabela
sql = "UPDATE tabela SET coluna1 = %s WHERE coluna2 = %s"
valores = ("novo_valor", "valor_atual")

cursor.execute(sql, valores)
conexao.commit()

print(cursor.rowcount, "registro(s) atualizado(s).")

cursor.close()
conexao.close()

-----

#### **5. Excluir Dados de uma Tabela**

In [ ]:
import mysql.connector

# ATENÇÃO: Substitua com suas credenciais reais
conexao = mysql.connector.connect(
    host="localhost",
    user="seu_usuario",
    password="sua_senha",
    database="seu_banco_de_dados"
)

cursor = conexao.cursor()

# Excluir dados de uma tabela
sql = "DELETE FROM tabela WHERE coluna = %s"
valores = ("valor_a_ser_deletado",)

cursor.execute(sql, valores)
conexao.commit()

print(cursor.rowcount, "registro(s) excluído(s).")

cursor.close()
conexao.close()

-----

### **Operações CRUD (Create, Read, Update, Delete)**

#### **6. Criar uma Tabela**

In [ ]:
import mysql.connector

# ATENÇÃO: Substitua com suas credenciais reais
conexao = mysql.connector.connect(
    host="localhost",
    user="seu_usuario",
    password="sua_senha",
    database="seu_banco_de_dados"
)

cursor = conexao.cursor()

# Criar uma tabela
sql = "CREATE TABLE IF NOT EXISTS clientes (id INT AUTO_INCREMENT PRIMARY KEY, nome VARCHAR(255), email VARCHAR(255))"
cursor.execute(sql)

print("Tabela 'clientes' criada com sucesso.")

cursor.close()
conexao.close()

-----

#### **7. Ler Dados de uma Tabela**

In [ ]:
import mysql.connector

# ATENÇÃO: Substitua com suas credenciais reais
conexao = mysql.connector.connect(
    host="localhost",
    user="seu_usuario",
    password="sua_senha",
    database="seu_banco_de_dados"
)

cursor = conexao.cursor()

# Ler dados de uma tabela
sql = "SELECT * FROM clientes"
cursor.execute(sql)

resultados = cursor.fetchall()

print("Dados da tabela 'clientes':")
for resultado in resultados:
    print(resultado)

cursor.close()
conexao.close()

-----

#### **8. Atualizar Dados em uma Tabela**

In [ ]:
import mysql.connector

# ATENÇÃO: Substitua com suas credenciais reais
conexao = mysql.connector.connect(
    host="localhost",
    user="seu_usuario",
    password="sua_senha",
    database="seu_banco_de_dados"
)

cursor = conexao.cursor()

# Atualizar dados em uma tabela
sql = "UPDATE clientes SET nome = %s WHERE id = %s"
valores = ("Novo Nome", 1)  # Supondo que queremos atualizar o registro com id 1

cursor.execute(sql, valores)
conexao.commit()

print(cursor.rowcount, "registro(s) atualizado(s).")

cursor.close()
conexao.close()

-----

#### **9. Inserir Dados em uma Tabela**

In [ ]:
import mysql.connector

# ATENÇÃO: Substitua com suas credenciais reais
conexao = mysql.connector.connect(
    host="localhost",
    user="seu_usuario",
    password="sua_senha",
    database="seu_banco_de_dados"
)

cursor = conexao.cursor()

# Inserir dados em uma tabela
sql = "INSERT INTO clientes (nome, email) VALUES (%s, %s)"
valores = ("Novo Cliente", "novo_cliente@example.com")

cursor.execute(sql, valores)
conexao.commit()

print(cursor.rowcount, "registro(s) inserido(s).")

cursor.close()
conexao.close()

-----

#### **10. Excluir Dados de uma Tabela**

In [ ]:
import mysql.connector

# ATENÇÃO: Substitua com suas credenciais reais
conexao = mysql.connector.connect(
    host="localhost",
    user="seu_usuario",
    password="sua_senha",
    database="seu_banco_de_dados"
)

cursor = conexao.cursor()

# Excluir dados de uma tabela
sql = "DELETE FROM clientes WHERE id = %s"
valores = (1,)  # Supondo que queremos excluir o registro com id 1

cursor.execute(sql, valores)
conexao.commit()

print(cursor.rowcount, "registro(s) excluído(s).")

cursor.close()
conexao.close()

-----

### **Segurança e Prevenção contra Injeção de SQL**

#### **11. Criar um novo registro de forma segura**

In [ ]:
import mysql.connector

# ATENÇÃO: Substitua com suas credenciais reais
conexao = mysql.connector.connect(
    host="localhost",
    user="seu_usuario",
    password="sua_senha",
    database="seu_banco_de_dados"
)

cursor = conexao.cursor()

# Criar um novo registro de forma segura usando placeholders (%s)
sql = "INSERT INTO tabela (coluna1, coluna2) VALUES (%s, %s)"
valores = ("valor1", "valor2")

cursor.execute(sql, valores)
conexao.commit()

print(cursor.rowcount, "registro(s) inserido(s) com segurança.")

cursor.close()
conexao.close()

-----

#### **12. Ler dados de forma segura**

In [ ]:
import mysql.connector

# ATENÇÃO: Substitua com suas credenciais reais
conexao = mysql.connector.connect(
    host="localhost",
    user="seu_usuario",
    password="sua_senha",
    database="seu_banco_de_dados"
)

cursor = conexao.cursor()

# Ler dados de forma segura usando placeholders (%s)
sql = "SELECT * FROM tabela WHERE coluna = %s"
valores = ("valor_a_ser_lido",)

cursor.execute(sql, valores)
resultados = cursor.fetchall()

for resultado in resultados:
    print(resultado)

cursor.close()
conexao.close()

-----

#### **13. Atualizar um registro de forma segura**

In [ ]:
import mysql.connector

# ATENÇÃO: Substitua com suas credenciais reais
conexao = mysql.connector.connect(
    host="localhost",
    user="seu_usuario",
    password="sua_senha",
    database="seu_banco_de_dados"
)

cursor = conexao.cursor()

# Atualizar um registro de forma segura usando placeholders (%s)
sql = "UPDATE tabela SET coluna1 = %s WHERE coluna2 = %s"
valores = ("novo_valor", "valor_atual")

cursor.execute(sql, valores)
conexao.commit()

print(cursor.rowcount, "registro(s) atualizado(s) com segurança.")

cursor.close()
conexao.close()

-----

#### **14. Excluir um registro de forma segura**

In [ ]:
import mysql.connector

# ATENÇÃO: Substitua com suas credenciais reais
conexao = mysql.connector.connect(
    host="localhost",
    user="seu_usuario",
    password="sua_senha",
    database="seu_banco_de_dados"
)

cursor = conexao.cursor()

# Excluir um registro de forma segura usando placeholders (%s)
sql = "DELETE FROM tabela WHERE coluna = %s"
valores = ("valor_a_ser_deletado",)

cursor.execute(sql, valores)
conexao.commit()

print(cursor.rowcount, "registro(s) excluído(s) com segurança.")

cursor.close()
conexao.close()

-----

#### **15. Utilizar Consultas Parametrizadas**

In [ ]:
import mysql.connector

# ATENÇÃO: Substitua com suas credenciais reais
conexao = mysql.connector.connect(
    host="localhost",
    user="seu_usuario",
    password="sua_senha",
    database="seu_banco_de_dados"
)

cursor = conexao.cursor()

# Consulta parametrizada (a forma segura mostrada nos exemplos anteriores)
sql = "SELECT * FROM tabela WHERE coluna = %s"
valores = ("valor_parametrizado",)

cursor.execute(sql, valores)
resultados = cursor.fetchall()

for resultado in resultados:
    print(resultado)

cursor.close()
conexao.close()

-----

### **Transações e Controle de Concorrência**

#### **16. Começar uma Transação**

In [ ]:
import mysql.connector

# ATENÇÃO: Substitua com suas credenciais reais
conexao = mysql.connector.connect(
    host="localhost",
    user="seu_usuario",
    password="sua_senha",
    database="seu_banco_de_dados"
)
cursor = conexao.cursor()

# Começar uma transação (o conector Python faz isso implicitamente)
# Para controle explícito:
try:
    # Múltiplas operações
    cursor.execute("INSERT INTO tabela (coluna1) VALUES ('transacao_valor1')")
    cursor.execute("UPDATE outra_tabela SET colunaA = 'novo' WHERE id = 1")

    # Se tudo deu certo, confirma as alterações
    conexao.commit()
    print("Transação concluída com sucesso.")
except mysql.connector.Error as err:
    print(f"Erro na transação: {err}")
    # Se algo deu errado, desfaz tudo
    conexao.rollback()
finally:
    cursor.close()
    conexao.close()

-----

#### **17. Rollback de uma Transação**

In [ ]:
import mysql.connector

# ATENÇÃO: Substitua com suas credenciais reais
conexao = mysql.connector.connect(
    host="localhost",
    user="seu_usuario",
    password="sua_senha",
    database="seu_banco_de_dados"
)
cursor = conexao.cursor()

try:
    # Operação 1
    cursor.execute("INSERT INTO tabela (coluna1) VALUES ('dado_temp')")

    # Operação 2 (que vai falhar, por exemplo, coluna não existe)
    cursor.execute("INSERT INTO tabela (coluna_inexistente) VALUES ('falha')")

    # Se chegasse aqui, confirmaria
    conexao.commit()
    print("Transação bem-sucedida.")
except mysql.connector.Error as e:
    print(f"Erro detectado: {e}")
    print("Fazendo rollback da transação.")
    # Desfaz a Operação 1
    conexao.rollback()
finally:
    cursor.close()
    conexao.close()

-----

#### **18. Define `autocommit` para `False`**

In [ ]:
import mysql.connector

conexao = mysql.connector.connect(
    host="localhost",
    user="seu_usuario",
    password="sua_senha",
    database="seu_banco_de_dados",
    autocommit=False  # Desabilita o autocommit
)

cursor = conexao.cursor()

# Execute operações que agora precisam de commit explícito
cursor.execute("INSERT INTO tabela (coluna1) VALUES ('sem_autocommit')")

# As mudanças só serão salvas no banco após o commit
conexao.commit()
print("Commit realizado manualmente.")

cursor.close()
conexao.close()

-----

#### **19. Bloquear uma Tabela para Leitura**

In [ ]:
import mysql.connector

# ATENÇÃO: Substitua com suas credenciais reais
conexao = mysql.connector.connect(
    host="localhost",
    user="seu_usuario",
    password="sua_senha",
    database="seu_banco_de_dados"
)
cursor = conexao.cursor()

try:
    # Bloquear uma tabela para leitura
    cursor.execute("LOCK TABLES tabela READ")
    print("Tabela 'tabela' bloqueada para leitura.")

    # Execute operações de leitura aqui
    cursor.execute("SELECT * FROM tabela LIMIT 5")
    print("Leitura realizada com a tabela bloqueada.")

finally:
    # É crucial desbloquear as tabelas
    cursor.execute("UNLOCK TABLES")
    print("Tabelas desbloqueadas.")
    cursor.close()
    conexao.close()

-----

#### **20. Bloquear uma Tabela para Escrita**

In [ ]:
import mysql.connector

# ATENÇÃO: Substitua com suas credenciais reais
conexao = mysql.connector.connect(
    host="localhost",
    user="seu_usuario",
    password="sua_senha",
    database="seu_banco_de_dados"
)
cursor = conexao.cursor()

try:
    # Bloquear uma tabela para escrita
    cursor.execute("LOCK TABLES tabela WRITE")
    print("Tabela 'tabela' bloqueada para escrita.")

    # Execute operações de escrita aqui
    cursor.execute("INSERT INTO tabela (coluna1) VALUES ('dado_com_lock')")
    conexao.commit()
    print("Escrita realizada com a tabela bloqueada.")

finally:
    # É crucial desbloquear as tabelas
    cursor.execute("UNLOCK TABLES")
    print("Tabelas desbloqueadas.")
    cursor.close()
    conexao.close()

-----

### **ORM (Object-Relational Mapping) com SQLAlchemy**

*Nota: Para os exemplos com `SQLAlchemy`, você precisará instalá-lo (`pip install sqlalchemy`) e também o driver do banco, como o `mysql-connector-python`.*

#### **21. Definindo uma Classe de Modelo com SQLAlchemy**

In [ ]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.orm import declarative_base, sessionmaker

# Define a base para os modelos declarativos
Base = declarative_base()

# Define a classe que mapeia para a tabela 'pessoas'
class Pessoa(Base):
    __tablename__ = 'pessoas'

    id = Column(Integer, primary_key=True)
    nome = Column(String(50))
    idade = Column(Integer)

    def __repr__(self):
        return f"<Pessoa(id={self.id}, nome='{self.nome}', idade={self.idade})>"

print("Modelo 'Pessoa' definido.")

-----

#### **22. Criando uma Tabela no Banco de Dados com SQLAlchemy**

In [ ]:
# Este bloco depende da execução do bloco anterior (21)

# ATENÇÃO: Substitua com suas credenciais reais
engine = create_engine('mysql+mysqlconnector://seu_usuario:sua_senha@localhost/seu_banco_de_dados')

# Cria a tabela 'pessoas' no banco de dados, se ela não existir
Base.metadata.create_all(engine)

print("Tabela 'pessoas' criada (se não existia).")

-----

#### **23. Adicionando um Novo Registro com SQLAlchemy**

In [ ]:
# Este bloco depende da execução dos blocos 21 e 22

# Cria uma fábrica de sessões
Session = sessionmaker(bind=engine)
# Inicia uma nova sessão
session = Session()

# Cria uma nova instância do objeto Pessoa
nova_pessoa = Pessoa(nome='Alice', idade=30)

# Adiciona o objeto à sessão
session.add(nova_pessoa)

# Comita a transação para salvar no banco
session.commit()

print(f"Novo registro adicionado: {nova_pessoa}")

# Fecha a sessão
session.close()

-----

#### **24. Consultando Dados com SQLAlchemy**

In [ ]:
# Este bloco depende da execução dos blocos 21, 22 e 23

Session = sessionmaker(bind=engine)
session = Session()

# Consulta todos os registros da tabela 'pessoas'
pessoas = session.query(Pessoa).all()

print("Consultando todas as pessoas:")
for pessoa in pessoas:
    print(pessoa)

session.close()

-----

#### **25. Atualizando um Registro com SQLAlchemy**

In [ ]:
# Este bloco depende da execução dos blocos 21, 22 e 23

Session = sessionmaker(bind=engine)
session = Session()

# Encontra a pessoa com o nome 'Alice'
pessoa_para_atualizar = session.query(Pessoa).filter_by(nome='Alice').first()

if pessoa_para_atualizar:
    # Modifica o atributo
    pessoa_para_atualizar.idade = 31
    # Comita a mudança
    session.commit()
    print(f"Registro atualizado: {pessoa_para_atualizar}")
else:
    print("Pessoa 'Alice' não encontrada para atualização.")

session.close()

-----

### **Pre-Sets Rápidos (Funções Utilitárias)**

#### **26. Conexão e consulta a bancos de dados PostgreSQL**

*Requer `pip install psycopg2-binary`*

In [ ]:
import psycopg2

def conectar_postgresql(host, usuario, senha, banco_dados):
    return psycopg2.connect(
        host=host,
        user=usuario,
        password=senha,
        database=banco_dados
    )

def consultar_postgresql(conexao, query, parametros=None):
    with conexao.cursor() as cursor:
        cursor.execute(query, parametros or ())
        return cursor.fetchall()

# Exemplo de uso (requer um banco PostgreSQL configurado)
# conn = conectar_postgresql('localhost', 'user', 'pass', 'db')
# resultados = consultar_postgresql(conn, "SELECT version();")
# print(resultados)
# conn.close()

-----

#### **27. Conexão e consulta a bancos de dados SQLite**

In [ ]:
import sqlite3

def conectar_sqlite(nome_bd):
    return sqlite3.connect(nome_bd)

def consultar_sqlite(conexao, query, parametros=None):
    with conexao: # Context manager para commit/rollback automático
        cursor = conexao.cursor()
        cursor.execute(query, parametros or ())
        return cursor.fetchall()

# Exemplo de uso
conn = conectar_sqlite("exemplo.db")
consultar_sqlite(conn, "CREATE TABLE IF NOT EXISTS teste (id INT, nome TEXT)")
consultar_sqlite(conn, "INSERT INTO teste VALUES (?, ?)", (1, 'Teste'))
resultados = consultar_sqlite(conn, "SELECT * FROM teste")
print(resultados)
conn.close()

-----

#### **28. Inserção de dados em bancos de dados MongoDB**

*Requer `pip install pymongo`*

In [ ]:
from pymongo import MongoClient

def conectar_mongodb(host, porta):
    return MongoClient(host, porta)

def inserir_documento_mongodb(cliente, banco_dados, colecao, documento):
    db = cliente[banco_dados]
    collection = db[colecao]
    return collection.insert_one(documento)

# Exemplo de uso (requer um servidor MongoDB rodando)
# client = conectar_mongodb('localhost', 27017)
# doc = {'nome': 'Exemplo Mongo', 'tipo': 'Teste'}
# resultado = inserir_documento_mongodb(client, 'meu_banco', 'minha_colecao', doc)
# print('Documento inserido com id:', resultado.inserted_id)
# client.close()

-----

#### **29. Transações em bancos de dados com SQLAlchemy**

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

def criar_sessao_sqlalchemy(string_conexao):
    engine = create_engine(string_conexao)
    Session = sessionmaker(bind=engine)
    return Session()

# Exemplo de uso (reutilizando o modelo 'Pessoa' do exemplo 21)
# string_conexao_mysql = 'mysql+mysqlconnector://seu_usuario:sua_senha@localhost/seu_banco_de_dados'
# sessao = criar_sessao_sqlalchemy(string_conexao_mysql)
# try:
#     pessoa1 = Pessoa(nome='Carlos', idade=45)
#     sessao.add(pessoa1)
#     sessao.commit()
#     print("Transação com SQLAlchemy bem-sucedida.")
# except:
#     sessao.rollback()
#     print("Erro, transação desfeita.")
# finally:
#     sessao.close()

-----

#### **30. Conexão e consulta a bancos de dados SQL Server**

*Requer `pip install pyodbc` e o driver ODBC do SQL Server.*

In [ ]:
import pyodbc

def conectar_sql_server(servidor, banco_dados, usuario, senha):
    conexao_str = f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={servidor};DATABASE={banco_dados};UID={usuario};PWD={senha}'
    return pyodbc.connect(conexao_str)

def consultar_sql_server(conexao, query):
    with conexao.cursor() as cursor:
        cursor.execute(query)
        return cursor.fetchall()

# Exemplo de uso (requer um banco SQL Server configurado)
# conn = conectar_sql_server('meu_servidor', 'meu_banco', 'user', 'pass')
# resultado = consultar_sql_server(conn, "SELECT @@VERSION")
# print(resultado)
# conn.close()

-----

### **Projetos Práticos (SQLite)**

#### **31. Cadastro de Alunos**

In [ ]:
import sqlite3

def criar_tabela_alunos():
    with sqlite3.connect("cadastro_alunos.db") as conn:
        conn.execute("""
        CREATE TABLE IF NOT EXISTS alunos (
            id INTEGER PRIMARY KEY, nome TEXT, idade INTEGER, notas REAL
        )""")

def adicionar_aluno(nome, idade, notas):
    with sqlite3.connect("cadastro_alunos.db") as conn:
        conn.execute("INSERT INTO alunos (nome, idade, notas) VALUES (?, ?, ?)", (nome, idade, notas))

def listar_alunos():
    with sqlite3.connect("cadastro_alunos.db") as conn:
        cursor = conn.execute("SELECT * FROM alunos")
        return cursor.fetchall()

def atualizar_aluno(id, nome, idade, notas):
    with sqlite3.connect("cadastro_alunos.db") as conn:
        conn.execute("UPDATE alunos SET nome = ?, idade = ?, notas = ? WHERE id = ?", (nome, idade, notas, id))

# Execução do exemplo
criar_tabela_alunos()
adicionar_aluno("João", 20, 9.5)
adicionar_aluno("Maria", 22, 8.7)

print("Lista de Alunos:")
for aluno in listar_alunos():
    print(f"ID: {aluno[0]}, Nome: {aluno[1]}, Idade: {aluno[2]}, Notas: {aluno[3]}")

atualizar_aluno(1, "João Silva", 21, 9.8)

print("\nLista de Alunos Atualizada:")
for aluno in listar_alunos():
    print(f"ID: {aluno[0]}, Nome: {aluno[1]}, Idade: {aluno[2]}, Notas: {aluno[3]}")

-----

#### **32. Lista de Tarefas**

In [ ]:
import sqlite3

def criar_tabela_tarefas():
    with sqlite3.connect("lista_de_tarefas.db") as conn:
        conn.execute("""
        CREATE TABLE IF NOT EXISTS tarefas (
            id INTEGER PRIMARY KEY, descricao TEXT, concluida BOOLEAN
        )""")

def adicionar_tarefa(descricao):
    with sqlite3.connect("lista_de_tarefas.db") as conn:
        conn.execute("INSERT INTO tarefas (descricao, concluida) VALUES (?, ?)", (descricao, False))

def listar_tarefas():
    with sqlite3.connect("lista_de_tarefas.db") as conn:
        return conn.execute("SELECT * FROM tarefas").fetchall()

def marcar_como_concluida(id):
    with sqlite3.connect("lista_de_tarefas.db") as conn:
        conn.execute("UPDATE tarefas SET concluida = ? WHERE id = ?", (True, id))

def remover_tarefa(id):
    with sqlite3.connect("lista_de_tarefas.db") as conn:
        conn.execute("DELETE FROM tarefas WHERE id = ?", (id,))

# Execução do exemplo
criar_tabela_tarefas()
adicionar_tarefa("Fazer compras")
adicionar_tarefa("Estudar Python")
print("Lista de Tarefas:")
for tarefa in listar_tarefas():
    print(f"ID: {tarefa[0]}, Descrição: {tarefa[1]}, Concluída: {bool(tarefa[2])}")

marcar_como_concluida(1)
remover_tarefa(2)

print("\nLista de Tarefas Atualizada:")
for tarefa in listar_tarefas():
    print(f"ID: {tarefa[0]}, Descrição: {tarefa[1]}, Concluída: {bool(tarefa[2])}")

-----

#### **33. Agenda de Contatos**

In [ ]:
import sqlite3

def criar_tabela_contatos():
    with sqlite3.connect("agenda_de_contatos.db") as conn:
        conn.execute("""
        CREATE TABLE IF NOT EXISTS contatos (
            id INTEGER PRIMARY KEY, nome TEXT, telefone TEXT, email TEXT
        )""")

def adicionar_contato(nome, telefone, email):
    with sqlite3.connect("agenda_de_contatos.db") as conn:
        conn.execute("INSERT INTO contatos (nome, telefone, email) VALUES (?, ?, ?)", (nome, telefone, email))

def listar_contatos():
    with sqlite3.connect("agenda_de_contatos.db") as conn:
        return conn.execute("SELECT * FROM contatos").fetchall()

def atualizar_contato(id, nome, telefone, email):
    with sqlite3.connect("agenda_de_contatos.db") as conn:
        conn.execute("UPDATE contatos SET nome=?, telefone=?, email=? WHERE id=?", (nome, telefone, email, id))

# Execução do exemplo
criar_tabela_contatos()
adicionar_contato("José", "11987654321", "jose@email.com")
adicionar_contato("Ana", "21912345678", "ana@email.com")
print("Agenda de Contatos:")
for contato in listar_contatos():
    print(f"ID: {contato[0]}, Nome: {contato[1]}, Telefone: {contato[2]}, Email: {contato[3]}")

atualizar_contato(1, "José Santos", "11999999999", "jose.santos@email.com")
print("\nAgenda Atualizada:")
for contato in listar_contatos():
    print(f"ID: {contato[0]}, Nome: {contato[1]}, Telefone: {contato[2]}, Email: {contato[3]}")

-----

#### **34. Gerenciador de Senhas**

In [ ]:
import sqlite3
import hashlib

def criar_tabela_senhas():
    with sqlite3.connect("gerenciador_de_senhas.db") as conn:
        conn.execute("""
        CREATE TABLE IF NOT EXISTS senhas (
            id INTEGER PRIMARY KEY, website TEXT, usuario TEXT, senha TEXT
        )""")

def adicionar_senha(website, usuario, senha):
    with sqlite3.connect("gerenciador_de_senhas.db") as conn:
        senha_hash = hashlib.sha256(senha.encode()).hexdigest()
        conn.execute("INSERT INTO senhas (website, usuario, senha) VALUES (?, ?, ?)", (website, usuario, senha_hash))

def listar_senhas():
    with sqlite3.connect("gerenciador_de_senhas.db") as conn:
        return conn.execute("SELECT id, website, usuario, senha FROM senhas").fetchall()

# Execução do exemplo
criar_tabela_senhas()
adicionar_senha("meusite.com", "admin", "senhaForte123")
adicionar_senha("outroportal.com", "user", "outraSenha!@#")
print("Gerenciador de Senhas (com hash):")
for id, website, usuario, senha_hash in listar_senhas():
    print(f"ID: {id}, Website: {website}, Usuário: {usuario}, Hash: {senha_hash[:15]}...")

-----

#### **35. Sistema de Reservas e Agendamento**

In [ ]:
import sqlite3

def criar_tabela_reservas():
    with sqlite3.connect("sistema_de_reservas.db") as conn:
        conn.execute("""
        CREATE TABLE IF NOT EXISTS reservas (
            id INTEGER PRIMARY KEY, recurso TEXT, data_hora DATETIME, usuario TEXT
        )""")

def fazer_reserva(recurso, data_hora, usuario):
    with sqlite3.connect("sistema_de_reservas.db") as conn:
        conn.execute("INSERT INTO reservas (recurso, data_hora, usuario) VALUES (?, ?, ?)", (recurso, data_hora, usuario))

def listar_reservas():
    with sqlite3.connect("sistema_de_reservas.db") as conn:
        return conn.execute("SELECT * FROM reservas").fetchall()

# Execução do exemplo
criar_tabela_reservas()
fazer_reserva("Sala de Reuniões 1", "2025-09-15 14:00", "Alice")
fazer_reserva("Projetor Multimídia", "2025-09-16 10:30", "Beto")
print("Sistema de Reservas:")
for reserva in listar_reservas():
    print(f"ID: {reserva[0]}, Recurso: {reserva[1]}, Data/Hora: {reserva[2]}, Usuário: {reserva[3]}")